.container {
  background-color: var(--bg-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.main {
  background-color: var(--bg-card);
  width: 850px;
  height: 600px;
  border-radius: var(--br);
  box-shadow: 1px 1px 1.5px rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(text-color);
  margin: 0 auto;
  width: max-content;
  text-align: center;
}

.navigation {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.label-container {
  position: relative;
}

.label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.35);
  pointer-events: none;
  transition: 0.3s ease;
  background-color: var(--bg-card);
  padding: 0 4px;
}

.search {
  border: 0.3px solid rgba(0, 0, 0, 0.35);
  border-radius: var(--br-inputs);
  width: 550px;
  height: 35px;
  outline: none;
  padding-left: 10px;
  font-size: 15px;
}

.search:focus + .label,
.search:not(:placeholder-shown) + .label {
  top: 0;
  font-size: 12px;
  color: var(--secondary);
}

.search:focus {
  border: 0.3px solid var(--secondary);
}

.search:hover {
  border: 0.3px solid var(--secondary);
}

.btn-styles {
  border: 1px solid rgb(255, 251, 36);
  width: 200px;
  padding: 12px;
  border-radius: var(--br-buttons);
  background-color: var(--secondary);
  cursor: pointer;
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

.btn-styles:hover {
  background-color: rgb(255, 232, 61);
  transition: 0.4s;
  border: 0.1px solid rgb(228, 226, 226);
}

.btn-styles:active {
  background-color: rgb(240, 231, 184);
  transition: 0.4s;
  transform: scale(0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.darth-vader {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  opacity: 1;
  transition: all 2s ease-out;
}

.footer {
  display: flex;
  margin-top: auto;
  justify-content: flex-end;
  padding: 4px;
  margin-bottom: 10px;
}

.pagination-icon {
  cursor: pointer;
  width: max-content;
  height: 40px;
  color: var(--secondary);
}

.page-number {
  font-size: 15px;
  margin-top: 7px;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.pagination-container {
  display: flex;
}
