.table {
  width: 100%;
  height: max-content;
  margin-top: 20px;
}

.table thead tr {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.table th {
  width: 200px;
  height: max-content;
}

.table thead th:last-child {
  display: flex;
  justify-content: center;
}

.table tbody {
  height: 360px;
}

.table tbody tr {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-items: center;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.table td {
  width: 200px;
}

.input-container {
  width: 200px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.input {
  width: 100px;
  text-align: center;
  border-radius: var(--br-inputs);
  padding: 5px;
  border: 0.05px solid rgba(0, 0, 0, 0.5);
  outline: none;
}

.input:focus{
  border: 0.1px solid var(--secondary);   
}

.icon-edit {
  cursor: pointer;
  position: absolute;
  margin-left: 180px;
}

.actions {
  width: 200px;
  height: max-content;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.heart-icon {
  height: 30px;
  cursor: pointer;
}

.trash-icon{
  height: 30px;
  cursor: pointer;  
}

.table tfoot tr {
  margin-top: auto;
}

.table tfoot td {
  margin-left: auto;
  align-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin-right: 10px;
  width: max-content;
  box-sizing: border-box;
  font-size: 13px;
  color: var(--color-text);
}

.pagination-icon {
  cursor: pointer;
  width: max-content;
  height: 25px;
  color: var(--secondary);
}

.page-number {
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
}